/* select background */
::selection {
  background: $color-fusion;
  color: $white;
}
::-moz-selection {
  background: $color-fusion;
  color: $white;
}
a[target]{
	border-bottom: 1px dashed $primary-300;
}